.main-container {
    width: 100%;
    height: 100%;
    padding: 25px;
    margin: auto;
}

.main-content {
    display: flex;
}

.main-line {
    padding: 25px;
    outline: 1px solid green;
    width: 1000px;
    height: fit-content;
}

.liked-news, .newest-news {
    padding: 25px;
    width: 400px;
    height: fit-content;
    outline: 1px solid rebeccapurple;
}

.main-line {
    outline: 1px solid orange;
}

.card-header, .card-footer {
    display: flex;
    justify-content: space-between;
}

.right-card {
    padding: 5px;
    outline: 1px solid forestgreen;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.right-card .title {
    width: 180px;
    text-align: center;
}

.user-info {
    display: flex;
}

.card-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.card-footer div {
    display: flex;
}

.like {
    background-image: url("static/news/img/like.png");
}

.like-button {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.comm-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.comm-button img {
    width: 20px;
    height: 20px;
}