.tag_checkbox {
    user-select: none;
}
.tag_checkbox div label {
    cursor: pointer;
}

#id_categories {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.options {
    display: flex;
    justify-content: space-between;
}

.new_post {
    margin: auto;
    width: fit-content;
    padding: 20px 0;
}

.new_post form {
    width: 800px;
    height: auto;
    padding: 25px;
    border: 1px solid orange;
}