{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block head %}
    <title>News</title>
    <link rel="stylesheet" href="{% static "news/css/main_posts.css" %}?{{ reload }}">
    <script src="{% static "news/js/tags.js" %}?{{reload}}"></script>
    <script src="{% static "news/js/main_posts.js" %}?{{reload}}"></script>
{% endblock %}
{% block container %}
    <div id="content" style="display: none;">
        <p id="user_id">{% if request.user.is_authenticated %}{{ request.user.id }}{% else %}-1{% endif %}</p>
        <p id="page_user_token">{{token}}</p>
    </div>
    <div class="main-container">
        <div class="search-bar">

        </div>
        <div class="main-content">
            <div class="main-line">
                {% for item in main_posts %}
                <div class="card" post_id="{{item.id}}">
                    <div class="card-header">
                      <div class="user-info">
                        <a href="/news/users/id{{item.author.id}}"><img src="/static/user_profile/img/profile_images/{{item.author.id}}.png" class="card-avatar avatar-validation"></a>
                        <div style="margin-left: 10px;">
                            <a href="/news/users/id{{item.author.id}}"><p>{{item.author.username}}</p></a>
                            <p>Отпубликовано: <span class="card-publish-time">{{item.creation_date|date:"d:m:Y:H:i:s"}}</span></p>
                        </div>
                    </div>
                      <div class="right-pannel">
                        actions
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.content}}</p>
                      <a href="/news/posts/id{{item.id}}" class="btn btn-primary">Посмотреть новость</a>
                    </div>
                    <div class="card-footer">
                        {% if user.is_authenticated %}
                        <div class="likes">
                            {% if item.like_set.all|has_user:user %}
                            <div class="like-button active" id="like-button">
                                <img src="/static/news/img/like_active.png" alt="" width="32" height="32">
                            </div>
                            {% else %}
                            <div class="like-button" id="like-button" >
                                <img src="/static/news/img/like.png" alt="" width="32" height="32">
                            </div>
                            {% endif %}
                            <span style="margin-left: 10px;">{{ item.like_set.all|length }}</span>
                        </div>
                        <div class="comments">
                            <a class="comm-button" href="/news/posts/id{{item.id}}#comment">
                                <img src="{% static "news/img/comment.png" %}?{{reload}}" alt="com">
                            </a>
                            <span class="comm-count">{{ item.comment_set.all|length }}</span>
                        </div>
                        <div class="reposts">
                            reps
                        </div>
                        {% else %}
                        <span><a href="/auth/login">Авторизуйтесь</a> для дополнительный действий</span>
                        {% endif %}
                    </div>
                </div>
                  <br>
                {% endfor %}
                <div class="more">
                    <button class="btn btn-primary">Показать больше</button>
                </div>
            </div>
            <div class="right-panel">
                <div class="liked-news">
                    <h5>Вам понравилось</h5>
                    {% if user.is_authenticated %}
                        {% if liked %}
                            {% for item in liked %}
                                <div class="liked">
                                    <div class="right-card">
                                        <div class="image">
                                            <img src=
                                            "
                                            {% if item.image %}
                                                {{ item.image.url }}
                                            {% else %}
                                                {% static "news/img/no-image.jpg"%}
                                            {% endif %}
                                            " 
                                            alt="" width="75" height="40">
                                        </div>
                                        <div class="title">
                                            <a href="/news/posts/id{{item.id}}">{{ item.title|truncatechars:35 }}</a>
                                        </div>
                                        <div class="likes">
                                            <p>{{ item.like_set.all|length }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="liked-center"> Вы пока не лайкнули ни одну новость.</p>
                        {% endif %}
                    {% else %}
                        <p class="liked-center">Для просмотра понравившихся новостей вы должны быть <a href="/auth/login">авторизованы</a>.</p>
                    {% endif %}
                </div>
                <div class="newest-news">
                    <h5>Последние новости</h5>
                    {% for item in latest %}
                        <div class="right-card">
                            <div class="image">
                                <img src=
                                "
                                {% if item.image %}
                                    {{ item.image.url }}
                                {% else %}
                                    {% static "news/img/no-image.jpg"%}
                                {% endif %}
                                " 
                                alt="" width="75" height="40">
                            </div>
                            <div class="title">
                                <a href="/news/posts/id{{item.id}}">{{ item.title|truncatechars:35 }}</a>
                            </div>
                            <div class="likes">
                                <p>{{ item.like_set.all|length }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

