{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block head %}
    <title>My Posts</title>
    <link rel="stylesheet" href="{% static "news/css/my_posts.css" %}?{{ reload }}">
    <script src="{% static "news/js/tags.js" %}?{{reload}}"></script>
{% endblock %}
{% block container %}
    <div class="main-container">
        {% include "news/include/tags.html "%}
        <div class="posts-container">
            <h2 style="text-align: center;">Ваши записи</h2>
            <div class="create-new">
                <h3><a href="/news/new_post">Создать новую запись</a></h3>
            </div>
            {% include "include/messages.html"%}
            {% if posts %}
                <div class="cards">
                    {% for post in posts %}
                        <div class="card">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top card-image" alt="No image">
                            {% else %}
                            <img src="{% static "news/img/no-image.jpg"%}" class="card-img-top card-image" alt="No image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-content">{{post.content|truncatechars:250}}</p>
                                <p>Статус новости: 
                                    {% if not post.is_posted %}
                                    <span style="color: red;">Не отпубликована</span>
                                    {% else %}
                                    <span style="color: green;">Отпубликована</span>
                                    {% endif %}
                                </p>
                                <p class="post-tags">Теги: 
                                    {% if post.tags.all %}
                                    <span>{{post.tags.all|join:", "}}</span>
                                    {% else %}
                                    <span>Нет</span>
                                    {% endif %}
                                </p>
                                <div class="card-time">
                                    <p class="card-text"><small class="text-muted">Дата создания: {{ post.creation_date }}</small></p>
                                    <p class="card-text"><small class="text-muted">Последнее редактирование: {{ post.last_edit_time|localtime }}</small></p>
                                </div>
                                <a href="/news/my_posts/edit/id{{post.id}}" class="btn btn-primary mt-3" style="text-decoration: none;">Редактировать</a>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <h4 class="no-posts">У вас пока нет ни одной записи. <a href="/news/new_post">Создать</a></h4>
            {% endif %}
        </div>
    </div>
{% endblock %}
