{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>New Post</title>
    <link rel="stylesheet" href="{% static "news/css/post.css" %}?{{ reload }}">
    <script src="{% static "news/js/tags.js" %}?{{reload}}"></script>
{% endblock %}
{% block container %}
    <div class="new_post">
        {% if not edit_mode %}
        <h2>Добавить новость</h2>
        {% else %}
        <h2>Изменить новость</h2>
        <h2><a href="/news/my_posts">Вернуться назад</a></h2>
        {% endif %}
        {% include "include/messages.html" %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="options">
                {% if not edit_mode %}
                <button type="submit" name="save" value="save" class="btn btn-secondary">Сохранить как черновик</button>
                {% else %}
                <button type="submit" name="delete" value="delete" class="btn btn-danger">Удалить новость</button>
                <button type="submit" name="update" value="update" class="btn btn-primary">Сохранить изменения</button>
                {% endif %}
                {% if not is_posted %}
                <button type="submit" name="post" value="post" class="btn btn-success">Отпубликовать новость</button>
                {% else %}
                <button type="submit" name="hide" value="hide" class="btn btn-secondary">Снять с публикации</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}